/*
 * Copyright The Zephyr Project Contributors
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <arm/xilinx/zynqmp_rpu.dtsi>
#include <freq.h>
#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/i2c/i2c.h>
#include <zephyr/dt-bindings/memory-attr/memory-attr-arm.h>
#include <zephyr/dt-bindings/sensor/lps22hh.h>
#include <zephyr/dt-bindings/sensor/stts22h.h>

/ {
	model = "ZUBoard 1CG Cortex-R5";
	compatible = "xlnx,zynqmp-r5";

	chosen {
		zephyr,sram = &sram1;
		zephyr,flash = &flash0;
		zephyr,console = &axi_uartlite;
		zephyr,shell-uart = &axi_uartlite;
		zephyr,ocm = &ocm;
	};

	aliases {
		led0 = &rgb2_red;
		sw0 = &pl_push_btn;
		pressure-sensor = &lps22hh;
		eeprom-0 = &eeprom0;
	};

	leds: leds{
		compatible = "gpio-leds";
		red_led_0: d6 {
			gpios = <&psgpio_bank1 7 GPIO_ACTIVE_HIGH>;
			label = "D6";
		};
		red_led_1: d7 {
			gpios = <&psgpio_bank0 25 GPIO_ACTIVE_HIGH>;
			label = "D7";
		};
		red_led_2: d8 {
			gpios = <&psgpio_bank0 24 GPIO_ACTIVE_HIGH>;
			label = "D8";
		};
		red_led_3: d9 {
			gpios = <&psgpio_bank0 7 GPIO_ACTIVE_HIGH>;
			label = "D9";
		};
		rgb1_red: rbg1_red {
			gpios = <&gpio0_2 2 GPIO_ACTIVE_HIGH>;
			label = "RGB1 Red";
		};
		rgb1_green: rbg1_green {
			gpios = <&gpio0_2 1 GPIO_ACTIVE_HIGH>;
			label = "RGB1 Green";
		};
		rgb1_blue: rbg1_blue {
			gpios = <&gpio0_2 0 GPIO_ACTIVE_HIGH>;
			label = "RGB1 Blue";
		};
		rgb2_red: rbg2_red {
			gpios = <&gpio1 2 GPIO_ACTIVE_HIGH>;
			label = "RGB2 Red";
		};
		rgb2_green: rbg2_green {
			gpios = <&gpio1 1 GPIO_ACTIVE_HIGH>;
			label = "RGB2 Green";
		};
		rgb2_blue: rbg2_blue {
			gpios = <&gpio1 0 GPIO_ACTIVE_HIGH>;
			label = "RGB2 Blue";
		};
	};

	keys {
		compatible = "gpio-keys";
		mio_push_btn: mio_push_btn {
			gpios = <&psgpio_bank1 6 GPIO_ACTIVE_LOW>;
			label = "MIO Push Button";
		};

		pl_push_btn: pl_push_btn {
			gpios = <&gpio0 0 GPIO_ACTIVE_LOW>;
			label = "PS Push Button";
		};

		user_switch_1: sw1 {
			gpios = <&psgpio_bank1 18 GPIO_ACTIVE_HIGH>;
			label = "User Switch 1";
			zephyr,code = <INPUT_BTN_1>;
		};

		user_switch_2: sw2 {
			gpios = <&psgpio_bank1 14 GPIO_ACTIVE_HIGH>;
			label = "User Switch 2";
			zephyr,code = <INPUT_BTN_2>;
		};

		user_switch_3: sw3 {
			gpios = <&psgpio_bank1 13 GPIO_ACTIVE_HIGH>;
			label = "User Switch 3";
			zephyr,code = <INPUT_BTN_3>;
		};

		user_switch_4: sw4 {
			gpios = <&psgpio_bank1 5 GPIO_ACTIVE_HIGH>;
			label = "User Switch 4";
			zephyr,code = <INPUT_BTN_4>;
		};
	};

	i2c_ref_clk: i2c_ref_clk {
		compatible = "fixed-clock";
		clock-frequency = <100000000>;
		#clock-cells = <0>;
	};

	soc {
		// rproc_0_reserved in Petalinux zynqmp_openamp.dtsi
		sram1: memory@3ed00000 {
			compatible = "zephyr,memory-region", "mmio-sram";
			reg = <0x3ed00000 DT_SIZE_K(256)>;
			zephyr,memory-region = "SRAM1";
			zephyr,memory-attr = <( DT_MEM_ARM(ATTR_MPU_RAM) )>;
		};

		axi_peripherals: memory@80000000 {
			compatible = "zephyr,memory-region";
			reg = <0x80000000 DT_SIZE_K(3)>;
			zephyr,memory-region = "PL_IO";
			zephyr,memory-attr = <(DT_MEM_ARM(ATTR_MPU_IO))>;
		};

		gpio0: gpio@80000000 {
			compatible = "xlnx,xps-gpio-1.00.a";
			reg = <0x80000000 0x200>;
			#gpio-cells = <2>;
			gpio-controller;
			status = "okay";
			interrupt-parent = <&gic>;
			interrupts = <GIC_SPI 91 IRQ_TYPE_LEVEL
					IRQ_DEFAULT_PRIORITY>;
			xlnx,all-inputs = <1>;
			xlnx,all-outputs-2 = <1>;
			xlnx,gpio-width = <1>;
			xlnx,gpio2-width = <3>;
			xlnx,is-dual = <1>;

			gpio0_2: gpio2 {
				compatible = "xlnx,xps-gpio-1.00.a-gpio2";
				#gpio-cells = <2>;
				gpio-controller;
				status = "okay";
			};
		};

		gpio1: gpio@80000200 {
			compatible = "xlnx,xps-gpio-1.00.a";
			reg = <0x80000200 0x200>;
			#gpio-cells = <2>;
			gpio-controller;
			status = "okay";
			xlnx,all-outputs = <1>;
			xlnx,gpio-width = <3>;
		};

		axi_i2c_0: axi_i2c@80000400 {
			compatible = "xlnx,xps-iic-2.1";
			status = "okay";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x80000400 0x200>;
			interrupt-parent = <&gic>;
			interrupts = <GIC_SPI 89 IRQ_TYPE_LEVEL
					IRQ_DEFAULT_PRIORITY>;

			stts22h: stts22h@3f {
				compatible = "st,stts22h";
				status = "okay";
				reg = <0x3f>;
				sampling-rate = <STTS22H_1Hz>;
			};
		};

		axi_i2c_1: axi_i2c@80000600 {
			compatible = "xlnx,xps-iic-2.1";
			status = "okay";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x80000600 0x200>;
			interrupt-parent = <&gic>;
			interrupts = <GIC_SPI 90 IRQ_TYPE_LEVEL
					IRQ_DEFAULT_PRIORITY>;
		};

		axi_uartlite: uart@0x80000800 {
			compatible = "xlnx,xps-uartlite-1.00.a";
			reg = <0x80000800 0x200>;
			status = "okay";
			interrupts = <GIC_SPI 92 IRQ_TYPE_LEVEL
					IRQ_DEFAULT_PRIORITY>;
		};
	};
};

&ttc0 {
	status = "okay";
	clock-frequency = <100000000>;
};

&psgpio {
	status = "okay";
};

&i2c1 {
	status = "okay";
	clocks = <&i2c_ref_clk>;
	clock-frequency = <400000>;

	eeprom0: eeprom@50 {
		compatible = "atmel,at24";
		reg = <0x50>;
		size = <256>;
		pagesize = <16>;
		address-width = <8>;
		timeout = <5>;
	};

	mac_eeprom: mac-eeprom@58 {
		compatible = "atmel,at24mac402";
		reg = <0x58>;
		#address-cells = <1>;
		#size-cells = <1>;

		mac_address: mac-address@9a {
			reg = <0x9a 0x06>;
		};
	};
};

&uart0 {
	status = "okay";
	current-speed = <115200>;
	clock-frequency = <DT_FREQ_M(100)>;
};

&spi0 {
	status = "okay";
	clock-frequency = <DT_FREQ_M(100)>;

    lps22hh: lps22hh@0 {
		compatible = "st,lps22hh";
		reg = <0>;
      	odr = <LPS22HH_DT_ODR_1HZ>;
		spi-max-frequency = <DT_FREQ_M(10)>;
    };
};