/*
 * Copyright (c) 2020, Antmicro
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <arm/xilinx/zynqmp_rpu.dtsi>
#include "mercury_xu-pinctrl.dtsi"
#include <zephyr/dt-bindings/memory-attr/memory-attr-arm.h>
#include <zephyr/dt-bindings/gpio/gpio.h>
#include <freq.h>

/ {
	model = "Mercury XU";
	compatible = "enclustra,mercury_xu";

	chosen {
		zephyr,console = &uart0;
		zephyr,shell-uart = &uart0;
		zephyr,sram = &sram1;
		zephyr,flash = &flash0;
		zephyr,canbus = &xcan0;
	};

	leds {
		compatible = "gpio-leds";

		debug_led_0: led-0 {
			gpios = <&psgpio_bank0 23 GPIO_ACTIVE_HIGH>;
		};

		ps_led_0: led-1 {
			gpios = <&psgpio_bank0 24 GPIO_ACTIVE_LOW>;
		};

		ps_led_1: led-2 {
			gpios = <&psgpio_bank0 25 GPIO_ACTIVE_LOW>;
		};

		ps_led_2: led-3 {
			gpios = <&psgpio_bank0 7 GPIO_ACTIVE_LOW>;
		};

		debug_led_1: led-4 {
			gpios = <&psgpio_bank3 0 GPIO_ACTIVE_HIGH>;
		};
	};

	aliases {
		led0 = &debug_led_0;
	};

	fpga0: fpga {
		status = "okay";
		compatible = "xlnx,fpga";
	};

	soc {
		sram1: memory@3ed00000 {
			compatible = "zephyr,memory-region", "mmio-sram";
			reg = <0x3ed00000 DT_SIZE_K(256)>;
			zephyr,memory-region = "SRAM1";
			zephyr,memory-attr = <(DT_MEM_ARM(ATTR_MPU_RAM))>;
		};

		axi_io@80000000 {
			compatible = "zephyr,memory-region";
			reg = <0x80000000 DT_SIZE_K(6)>;
			zephyr,memory-region = "AXI_PL";
			zephyr,memory-attr = <(DT_MEM_ARM(ATTR_MPU_IO))>;
		};

		xcan0: can@80000000 {
			compatible = "xlnx,zynq-can-1.0";
			status = "okay";
			reg = <0x80000000 DT_SIZE_K(1)>;
			clock-frequency = <DT_FREQ_M(16)>;
			interrupts = <GIC_SPI 90 IRQ_TYPE_LEVEL
				      IRQ_DEFAULT_PRIORITY>;
			sample-point = <875>;
		};

		xcan1: can@80000400 {
			compatible = "xlnx,zynq-can-1.0";
			status = "okay";
			reg = <0x80000400 DT_SIZE_K(1)>;
			clock-frequency = <DT_FREQ_M(16)>;
			interrupts = <GIC_SPI 91 IRQ_TYPE_LEVEL
				      IRQ_DEFAULT_PRIORITY>;
			sample-point = <875>;
		};

		xcan2: can@80000800 {
			compatible = "xlnx,zynq-can-1.0";
			status = "okay";
			reg = <0x80000800 DT_SIZE_K(1)>;
			clock-frequency = <DT_FREQ_M(16)>;
			interrupts = <GIC_SPI 92 IRQ_TYPE_LEVEL
				      IRQ_DEFAULT_PRIORITY>;
			sample-point = <875>;
		};

		xcan3: can@80000c00 {
			compatible = "xlnx,zynq-can-1.0";
			status = "okay";
			reg = <0x80000c00 DT_SIZE_K(1)>;
			clock-frequency = <DT_FREQ_M(16)>;
			interrupts = <GIC_SPI 93 IRQ_TYPE_LEVEL
				      IRQ_DEFAULT_PRIORITY>;
			sample-point = <875>;
		};

		xcan4: can@80001000 {
			compatible = "xlnx,zynq-can-1.0";
			status = "okay";
			reg = <0x80001000 DT_SIZE_K(1)>;
			clock-frequency = <DT_FREQ_M(16)>;
			interrupts = <GIC_SPI 94 IRQ_TYPE_LEVEL
				      IRQ_DEFAULT_PRIORITY>;
			sample-point = <875>;
		};

		xcan5: can@80001400 {
			compatible = "xlnx,zynq-can-1.0";
			status = "okay";
			reg = <0x80001400 DT_SIZE_K(1)>;
			clock-frequency = <DT_FREQ_M(16)>;
			interrupts = <GIC_SPI 95 IRQ_TYPE_LEVEL
				      IRQ_DEFAULT_PRIORITY>;
			sample-point = <875>;
		};
	};

	i2c_ref_clk: i2c_ref_clk {
		compatible = "fixed-clock";
		clock-frequency = <99999001>;
		#clock-cells = <0>;
	};
};

&uart0 {
	status = "okay";
	current-speed = <115200>;
	clock-frequency = <99999901>;
	pinctrl-0 = <&uart0_default>;
	pinctrl-names = "default";
};

&uart1 {
	pinctrl-0 = <&uart1_default>;
	pinctrl-names = "default";
};

&ttc0 {
	status = "okay";
	clock-frequency = <100000000>;
};

&psgpio {
	status = "okay";
};

&spi0 {
	status = "okay";
	clock-frequency = <199998001>;

	pcal9722: gpio@0 {
		compatible = "nxp,pcal9722";
		reg = <0>;
		spi-max-frequency = <1000000>;
		addr = <0x40>;
		#gpio-cells = <2>;
		ngpios = <22>;
		gpio-controller;
	};
};

&spi1 {
	status = "disabled";
	clock-frequency = <199998001>;
};

&i2c0 {
	status = "disabled";
	clocks = <&i2c_ref_clk>;
	clock-frequency = <400000>;
};

&i2c1 {
	status = "disabled";
	clocks = <&i2c_ref_clk>;
	clock-frequency = <400000>;

	eeprom@50 {
		/* M24M02-DRMN6TP aka U4 (2 Mbit eeprom) */
		compatible = "st,m24m02", "st,m24xxx", "atmel,at24";
		reg = <0x50>;
		size = <DT_SIZE_K(256)>;
		pagesize = <256>;
		address-width = <16>;
		timeout = <5>;
	};
};

&can0 {
	clock-frequency = <DT_FREQ_M(16)>;
	status = "disabled";
};

&can1 {
	clock-frequency = <DT_FREQ_M(16)>;
	status = "disabled";
};
